.userpanel {
    border-bottom: 1px solid #737373;
    width: 100%;
    background: #aaa url(/public/images/userpanel_back.gif) repeat-x;
    position: relative;
    color: #333;
    min-width: 990px;
    z-index: 110;
    box-sizing: border-box;

    .divider {
        background: transparent url(/public/images/userpanel_divider.gif) no-repeat 0 0;
        width: 3px;
    }

    @import "navbar-stats";
    @import "navbar-user";
    @import "user-dropdown";
}

.userpanel.logged {
    height: 45px;
}

.userpanel * {
    box-sizing: border-box;
}

.userpanel .user-block .user-dropdown .drop-btn:hover {
    background: transparent url(/public/images/userpanel/userpanel_back_highlight.png) repeat-x;
}
